{% extends 'base.html' %}
{% load static account socialaccount %}
{% block title %}Sign In | Umair Abbasi{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <h1>Sign In</h1>

                {% get_providers as socialaccount_providers %}

                <p>Please sign in with one of your existing third party accounts. <!--Or, <a href="{{ signup_url }}">sign up</a> for a {{ site_name }} account and sign in below:--></p>

                <div class="socialaccount_ballot text-center">
                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                </div>

                {% include "socialaccount/snippets/login_extra.html" %}
            </div>
        </div>
    </div>
{% endblock %}