{% load static socialaccount %}

{% get_providers as socialaccount_providers %}

<div class="row">
    {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
            {% for brand in provider.get_brands %}
                <li>
                    <a title="{{brand.name}}" 
                     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
                     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
                     >{{brand.name}}</a>
                </li>
            {% endfor %}
        {% endif %}

        {% if provider.name == 'Google' %}
            <div class="col-lg-6 d-flex justify-content-center my-1">
                <a title="{{provider.name}}" class="socialaccount_provider {{ provider.id }}" href="{% provider_login_url provider.id process=process next=request.path %}"><img alt="Sign in with Google" width="154px" src="{% static 'images/btn_google_signin_dark_normal_web@2x.png' %}"/></a>
            </div>
        {% elif provider.name == 'Twitter' %}
            <div class="col-lg-6 d-flex justify-content-center my-1" style="position:relative; top:3px;">
                <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process next=request.path %}"><img alt="Sign in with {{ provider.name }}" width="158px" src="{% static 'images/sign-in-with-twitter-gray.png.twimg.1920.png' %}"/></a>
            </div>
        {% comment %} {% else %}
            <div class="col-lg-3">
                <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{ provider.name }}</a>
            </div> {% endcomment %}
        {% endif %}
    {% endfor %}
</div>