{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}{{ self.slug }}{% endblock %}


{% block content %}
    <div class="container text-light">
        <div class="row mt-4">
            <div class="col-6">
                <h3 class="text-white"  ><small><i class="fas fa-star"></i> <strong>{{ count }}</strong> Rated Movies</small></h3>
            </div>
            <div class="col-6 text-right">
                <a class="btn btn-sm btn-secondary" href="top-rated/">View Top Rated Movies</a>
            </div>
        </div>
        <hr/>
        <div class="row mb-4 rounded justify-content-center">
            {% for movie in movies %}
                <div class="col-5 col-md-3 col-lg-2 rounded poster-bg p-2 m-2">
                    <a href="/movies/movie/{{ movie.slug }}/"><img alt="{{ movie.title }}" class="img-fluid pb-1" src="{{ movie.poster }}"/></a>
                    <p class="mb-1"><small>{{ movie.title }}</small></p>
                    <p class="mb-0"><small><i class="fas fa-star"></i> <strong>{{ movie.rating }}</strong>/10</small></p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}