{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}movies{% endblock %}
{% block title %}{{ page.title }}, Movie rating by Umair Abbasi{% endblock %}
{% block head-extra %}<link rel="canonical" href="{{ page.full_url }}" />{% endblock head-extra %}


{% block content %}
    <div class="container text-light p-4">
        <div class="row mt-lg-1 mb-2">
            <div class="col-12 col-md-5 col-lg-5 col-xl-4 text-center text-md-start">
                <h3 class="text-white"><small>Umair's {% if rating %} {{ rating|title }}{% endif %} Movie Ratings</small></h3>
            </div>
            <div class="col-7 col-sm-7 col-md-4 col-lg-4 col-xl-6 text-center text-md-end">
                <form action="{% url 'movie_search' %}" method="get">
                    <label class="form-label visually-hidden" for="inlineMediaSearch">Movie Search</label>
                    <input id="inlineMediaSearch" type="text" name="query" value="{{ search_query }}" placeholder="Movie Search">
                    <input class="visually-hidden" type="submit" value="search">
                </form>
            </div>
            <div class="col-5 col-sm-5 col-md-3 col-lg-3 col-xl-2 text-center text-md-end">
                <form class="form-inline" method="get">
                    <label class="visually-hidden" for="inlineFormRatingSelect">Rating Filter</label>
                    <select id="inlineFormRatingSelect" class="form-control form-control-sm custom-select mr-sm-2" onchange="javascript:location.href=this.value;">
                        <option value="/ratings/movies/">Rating Filter</option>
                        <option {% if rating == "top-rated" %}selected{%endif %} value="/ratings/movies/top-rated/">Top-Rated</option>
                        <option {% if rating == "recommended" %}selected{%endif %} value="/ratings/movies/recommended/">Recommended</option>
                        <option {% if rating == "not-recommended" %}selected{%endif %} value="/ratings/movies/not-recommended/">Not-Recommended</option>
                        <option value="/ratings/movies/">View All</option>
                    </select> 
                </form>
            </div>
        </div>
        <hr class="mt-0"/>
        {% include "includes/ratings/ratings-specific-media.html" %}
    </div>
{% endblock %}