{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}{{ self.slug }}{% endblock %}


{% block content %}
    <div class="container text-light">
        <div class="row mt-4">
            <div class="col-12">
                <h3 class="text-white"  ><small>Umair's Top Rated Movies</small></h3>
                <p><small>Showing {{ count }} movies ordered by release date</small></p>
            </div>
        </div>
        <hr class="mt-0"/>

        {% include "includes/ratings-all-media.html" %}
        
        <hr>
        <div class="row mb-4 justify-content-center">
            <p class="text-center"><a class="text-light" href="all/">View All Movie Ratings</a></p>
        </div>
    </div>
{% endblock %}