{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}{{ page.slug }}{% endblock %}


{% block content %}
    <div class="container text-light">
        <div class="row mt-4">
            <div class="col-12">
                <h1>{{ page.title }}</h1>
            </div>
        </div>
        <hr/>
        <div class="row mb-4 rounded justify-content-center">
            <div class="col-6 col-md-3">
                <div class="card bg-dark">
                    <picture>
                        <img src="{{ movie_page.poster }}" class="card-img-top" alt="{{ movie_page.title }}">
                    </picture>
                    <div class="card-body">
                    <h5 class="card-title">Movie Ratings</h5>
                    <p class="text-secondary"><small>The only movie ratings that matter.</small></p>
                    <a href="/ratings/movies/" class="btn btn-primary">View Movie Ratings</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="card bg-dark">
                    <picture>
                        <img src="{{ tv_page.poster }}" class="card-img-top" alt="{{ tv_page.title }}">
                    </picture>
                    <div class="card-body">
                    <h5 class="card-title">TV Ratings</h5>
                    <p class="text-secondary"><small>The only TV ratings that matter.</small></p>
                    <a href="/ratings/tv/" class="btn btn-primary">View TV Ratings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}