{% extends "base.html" %}
{% load wagtailcore_tags %}
{% wagtail_site as current_site %}
{% block title %}TV Show Ratings by {{ current_site.site_name }}{% endblock %}
{% block body_class %}{{ self.slug }}{% endblock %}


{% block content %}
    <div class="container text-light">
        <div class="row mt-4 mb-2">
            <div class="col-7 col-sm-8 col-xl-10">
                <h3 class="text-white"  ><small>Umair's {% if rating %} {{ rating|title }}{% endif %} TV Show Ratings</small></h3>
                <p><small>Showing {{ tv_count }} TV Shows sorted alphabetically</small></p>
            </div>
            <div class="col-5 col-sm-4 col-xl-2">
                <form class="form-inline" method="get">
                    <label for="inlineFormCustomSelect">Filter</label>
                    <select class="form-control form-control-sm custom-select mr-sm-2" onchange="javascript:location.href=this.value;">
                        <option value="/ratings/tv/">All TV Shows</option>
                        <option {% if rating == "top-rated" %}selected{%endif %} value="/ratings/tv/top-rated/">Top-Rated</option>
                        <option {% if rating == "recommended" %}selected{%endif %} value="/ratings/tv/recommended/">Recommended</option>
                        <option {% if rating == "not-recommended" %}selected{%endif %} value="/ratings/tv/not-recommended/">Not-Recommended</option>
                    </select> 
                </form>
            </div>
        </div>
        <hr class="mt-0"/>
        {% include "includes/ratings-all-media.html" %}
    </div>
{% endblock %}