{% extends "base.html" %}
{% load wagtailcore_tags %}
{% block body_class %}tv{% endblock %}
{% block title %}{{ page.title }}, TV show rating by Umair Abbasi{% endblock %}
{% block head-extra %}<link rel="canonical" href="{{ page.full_url }}" />{% endblock head-extra %}


{% block content %}
    <div class="container text-light p-4">
        <div class="row mt-lg-1 mb-2">
            <div class="col-12 col-md-5 col-lg-5 col-xl-6 text-center text-md-start">
                <h3 class="text-white">Umair's {% if rating %} {{ rating|title }}{% endif %} TV Show Ratings</h3>
            </div>
        </div>
        <hr class="mt-0"/>
        {% include "includes/ratings/ratings-specific-media.html" %}
    </div>
{% endblock %}