<div class="row">
    <div class="col-sm-12 col-md-6">
        <ul class="m-3 list-inline">
            <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'github', 'clicked',, false]);" href="https://github.com/fourfridays"><i class="fab fa-lg fa-github"></i><span class="btn-label">Github</span></a></li>
            <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'spotify', 'clicked',, false]);" href="https://open.spotify.com/user/fourfridays"><i class="fab fa-lg fa-spotify"></i><span class="btn-label">Spotify</span></a></li>
            <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'twitter', 'clicked',, false]);" href="https://twitter.com/fourfridays"><i class="fab fa-lg fa-twitter"></i><span class="btn-label">Twitter</span></a></li>
            <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'linkedin', 'clicked',, false]);" href="http://www.linkedin.com/pub/umair-abbasi/43/875/537/"><i class="fab fa-lg fa-linkedin"></i><span class="btn-label">Linkedin</span></a></li>
            <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'flickr', 'clicked',, false]);" href="http://www.flickr.com/photos/fourfridays"><i class="fab fa-lg fa-flickr"></i><span class="btn-label">Flickr</span></a></li>
        </ul>
    </div>
    <div class="col-sm-12 col-md-6 text-right">
        <ul class="m-3">
            <li><a href="mailto:umair.abbasi@fourfridays.com">umair dot abbasi at fourfridays.com</a></li>
            <li class="copyright">Copyright {% now "Y" %} Umair Abbasi</li>
            <li class="links">
            <a class="text-muted" onclick="_gaq.push(['_trackEvent', 'footer links', 'styleguide', 'clicked',, false]);" href="/style-guide/"> Style Guide</a> 
            •
            <a class="text-muted" onclick="_gaq.push(['_trackEvent', 'footer links', 'privacy policy', 'clicked',, false]);" href="//www.iubenda.com/privacy-policy/191063" title="Privacy Policy">Privacy Policy</a><script src="//cdn.iubenda.com/iubenda.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
            </li>
        </ul>
    </div>
</div>