{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}microblog-index{% endblock %}

{% block content %}
    <div class="container text-center">
        <h1 class="my-1">MicroBlogs</h1>
        <p>{{ page.introduction }}</p>
        <section class="row">
            {% for article in posts %}
                <div class="offset-1 col-10 offset-sm-2 col-sm-8 offset-md-3 col-md-6 offset-lg-4 col-lg-4">
                    <article style="background-color: rgba(0,0,0,.38)" class="p-3 rounded-2 my-3">
                        {% if article.image %}
                            {% image article.image fill-389x150-c100 as heroimage %}
                            {% image article.image fill-389x150-c100 format-webp as webp_heroimage %}
                                <picture>
                                    <source srcset="{{ webp_heroimage.url }}" type="image/webp">
                                    <img class="mb-2 img-fluid border border-white border-4" {{ heroimage.attrs }}/>
                                </picture>
                        {% endif %}
                        
                        <h5 class="mb-0 text-uppercase">{{ article.title }}</h5>

                        <p class="text-start">{{ article.body|richtext }}</p>

                        <p>
                            <small>
                                <span class="badge text-bg-light rounded-0">{{ article.date_published|date:"M. d, Y" }}</span>
                                {% if article.category %}
                                    <span class="badge bg-secondary rounded-0">Category: {{ article.category.name }}</span>
                                {% endif %}
                            </small>
                        </p>

                        {% if article.tags %}
                            <hr style="margin-top: 0; margin-bottom: 10px; clear: both;">
        
                            <div class="small">
                                All microblogs tagged: 
                                {% for tag in article.tags.all %}
                                    <i class="fas fa-tag swatch-red mx-1" aria-hidden="true"></i><a href="tag/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}{% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </article>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}