{% load wagtailimages_tags %}

<figure>
    {% image self.image width-665 as theimage %}
    
    <img class="img-fluid img-thumbnail {% if self.alignment != 'center' %}float-{{ self.alignment }}{% else %}mx-auto d-block{% endif %}" src="{{ theimage.url }}" width="{{ theimage.width }}" height="{{ theimage.height }}" alt="{{ theimage.alt }}"/>

    {% if self.caption and self.attribution %}
        <figcaption>{{ self.caption }} - {{ self.attribution }}</figcaption>
    {% else %}
        <figcaption class="{% if self.alignment != 'center' %}text-{{ self.alignment }} {% else %}text-center{% endif %}">{{ self.caption }}</figcaption>
    {%endif %}
</figure>