{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}blog-index{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-3 text-center">Blogs</h1>
        <div class="row">
            {% for article in posts %}
                <div class="col-md-4">
                    <article>
                        {% if article.hero_image %}
                            {% image article.hero_image fill-540x229-c100 as heroimage %}
                            {% image article.hero_image fill-540x229-c100 format-webp as webp_heroimage %}
                            <a href="{{ article.slug }}/">
                                <picture>
                                    <source srcset="{{ webp_heroimage.url }}" type="image/webp">
                                    <img class="mb-2 img-fluid border border-white border-4" {{ heroimage.attrs }}/>
                                </picture>
                            </a>
                        {% endif %}
                        <a href="{{ article.slug }}/">
                            <h5 class="mb-0 text-uppercase">{{ article.title }}</h5>
                        </a>
                        <p class="small">
                            {{ article.date_published }}        
                            {% if article.category %}
                                    - <span style="text-transform: uppercase;">{{ article.category.name }}</span>
                            {% endif %}
                        </p>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}