{% extends "base.html" %}
{% load account socialaccount flickr_tags wagtailcore_tags wagtailimages_tags %}
{% wagtail_site as current_site %}
{% block body_class %}blog-post{% endblock %}
{% block head-extra %}<link rel="canonical" href="{{ page.full_url }}" />{% endblock head-extra %}

{% block content %}
    {% get_providers as provider %}
    <!-- HERO IMAGE -->
    {% if page.hero_image %}
        {% image page.hero_image fill-2400x658-c100 jpegquality-60 as heroimage %}
        {% image page.hero_image fill-2400x658-c100 format-webp as webp_heroimage %}
        <div class="text-center p-lg-3 p-2">
            <h1 class="text-uppercase card-title">{{ page.title }}</h1>
            <hr class="m-0">
            <p class="small hidden-sm"> 
                {% for person in page.authors %}
                    {{ person.first_name }} {{ person.last_name }} | {{ page.date_published }}        
                {% endfor %}
                {% if page.category %}
                    | {{ page.category.name }}
                {% endif %}
            </p>
        </div>
        <div class="hero-image card border-0">
            <figure class="mb-0">
                <picture>
                    <source srcset="{{ webp_heroimage.url }}" type="image/webp">
                    <img class="card-img rounded-0" {{ heroimage.attrs }}/>
                </picture>
            </figure>
        </div>
    {% endif %}

    <!-- BODY -->
    <div class="container">
        <div class="row">
            <div class="my-3 offset-md-2 col-md-8">
                <article>
                    {{ page.body }}
                </article>
            </div>
        </div>

        <!-- FLICKR -->
        <div class="row text-center">
            <div class="col-12 offset-md-1 col-md-10">
                {% flickr_photosets page.flickr_photoset_id %}
            </div>
        </div>

        <!-- TAGS -->
        <div class="row">
            <div class="col-12">
                {% if tags %}
                    <hr style="margin-top: 0; margin-bottom: 10px; clear: both;">

                    <div class="small .text-muted">
                        {% for tag in tags %}
                            <i class="fas fa-tag swatch-red mx-1" aria-hidden="true"></i><a href="{{ page.get_parent.url }}tag/{{ tag }}">{{ tag }}</a>{% if not forloop.last %}{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <!-- COMMENT -->
        <div class="row text-center my-3">
            <div class="offset-md-2 col-md-8">
                {% if user.is_authenticated %}
                    <p class="small">You are logged in as <strong>{{ request.user.username }}</strong>. <a href="/logout/">Logout</a></p>
                    <form action="/comment/" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Post Comment </label>
                            <textarea class="form-control my-2" name="comment" placeholder="Enter comment here" rows="3" required></textarea>
                        </div>
                        <input type="hidden" name="user_name" value="{{ request.user.username }}">
                        <input type="hidden" name="slug" value="{{ page.slug }}">
                        <button type="submit" class="btn btn-primary btn-md my-2">Submit</button>
                    </form>
                {% else %}
                    {% get_providers as socialaccount_providers %}

                    <h5>Please sign in to comment</h5>

                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                {% endif %}
            </div>
        </div>

        {% if comments %}
            <div class="row text">
                <div class="col-12">
                    <h3 class="text-uppercase">Comments ({{ comment_count }})</h3>
                </div>
            </div>
            {% for comment in comments %}
                <div class="row">
                    <div class="my-3 offset-md-2 col-md-8">
                        <div class="card text-white bg-dark mb-3">
                            <div class="card-header small">{{ comment.user }} - {{ comment.created_on|date:'M d, Y h:i A' }}</div>
                            <div class="card-body">
                                {% if comment.parent_comment %}
                                    <div class="card-text bg-secondary p-3 mb-2">
                                        <p class="small">Quote from: {{ comment.parent_comment.user }}</p>
                                        <p>{{ comment.parent_comment }}</p>
                                    </div>
                                {% endif %}
                                <p class="card-text">{{ comment.content }}</p>
                                {% if user.is_authenticated %}
                                    <button class="btn btn-sm btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#reply{{ comment.id }}" aria-expanded="false" aria-controls="reply{{ comment.id }}">Reply</button>
                                    <div class="collapse" id="reply{{ comment.id }}">
                                        <div class="card card-body bg-dark my-2">
                                            <form action="/comment/" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="comment">Post a Reply</label>
                                                    <textarea class="form-control my-2" name="comment" placeholder="Enter comment here" rows="3" required></textarea>
                                                    <input type="hidden" name="user_name" value="{{ request.user.username }}">
                                                    <input type="hidden" name="parent_comment" value="{{ comment.id }}">
                                                    <input type="hidden" name="slug" value="{{ page.slug }}">
                                                    <input type="hidden" name="parentSno" value="">
                                                    <button type="submit" class="btn btn-primary btn-sm my-2">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        {% for key, value in request.GET.items %}
            {% if value == 'success' %}
                <div class="row">
                    <div class="my-3 offset-md-2 col-md-8">
                        <h6 class="bg-success text-white p-3" id="anchor-comment-status">Comment submitted. Please allow  24 hours to review.</h6>
                    </div>
                </div>
            {% elif value == 'unsuccessful' %}
                <div class="row">
                    <div class="my-3 offset-md-2 col-md-8">
                        <h6 class="bg-danger text-white p-3" id="anchor-comment-status">Sorry, something went wrong. Please try submitting comment again.</h6>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        <hr/>

        <!-- RECENT POSTS -->
        {% if recent_posts %}
            <div class="row">
                {% for post in recent_posts %}
                    <div class="col-md-4">
                        {% image post.hero_image fill-540x229-c100 as recentheroimage %}
                        {% image post.hero_image fill-540x229-c100 format-webp as webp_recent_heroimage %}
                        <a href="{{ post.url }}">
                            <picture>
                                <source srcset="{{ webp_recent_heroimage.url }}" type="image/webp">
                                <img class="mb-2 img-fluid" {{ recentheroimage.attrs }}/>
                            </picture>
                        </a>
                        <a href="{{ post.url }}"><h5 class="mb-0 text-uppercase">{{ post.title }}</h5></a>
                        <p class="small">{{ post.date_published }}</p>
                    </div>
                {% endfor %}
                <div class="col-12">
                    <hr>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}