{% load umairabbasi_tags static %}

<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>{% block title %}{% if self.seo_title == 'Home' %}Umair Abbasi{% elif self.seo_title %}{{ self.seo_title }} | Umair Abbasi{% else %}{{ self.title }} | Umair Abbasi{% endif %}{% endblock %}</title>
        <meta name="description" content={% if self.search_description %}"{{ self.search_description }}"{% else %}" "{% endif %}/>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link href='//fonts.googleapis.com/css?family=Frank+Ruhl+Libre|Oswald:500|Montserrat' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/umairabbasi.min.css' %}?v=04162018">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5D6PHTT');</script>
        <!-- End Google Tag Manager -->
    </head>

    <body class="{% block body_class %}{% endblock %}">

        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5D6PHTT"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
    
        <header>
            {% block menu %}
                {% get_site_root as site_root %}
                {% top_menu parent=site_root calling_page=self %}
            {% endblock %}
        </header>

        <main class="my-3" role="main">
            {% block content %}{% endblock %}
        </main>

        <footer>
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <ul class="m-3 list-inline">
                        <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'github', 'clicked',, false]);" href="https://github.com/fourfridays"><i class="fab fa-lg fa-github"></i><span class="btn-label">Github</span></a></li>
                        <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'spotify', 'clicked',, false]);" href="https://open.spotify.com/user/fourfridays"><i class="fab fa-lg fa-spotify"></i><span class="btn-label">Spotify</span></a></li>
                        <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'twitter', 'clicked',, false]);" href="https://twitter.com/fourfridays"><i class="fab fa-lg fa-twitter"></i><span class="btn-label">Twitter</span></a></li>
                        <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'linkedin', 'clicked',, false]);" href="http://www.linkedin.com/pub/umair-abbasi/43/875/537/"><i class="fab fa-lg fa-linkedin"></i><span class="btn-label">Linkedin</span></a></li>
                        <li class="mx-2 list-inline-item"><a target="_blank" onclick="_gaq.push(['_trackEvent', 'footer links', 'flickr', 'clicked',, false]);" href="http://www.flickr.com/photos/fourfridays"><i class="fab fa-lg fa-flickr"></i><span class="btn-label">Flickr</span></a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <ul class="m-3">
                        <li><a href="mailto:umair.abbasi@fourfridays.com">umair dot abbasi at fourfridays.com</a></li>
                        <li class="copyright">Copyright {% now "Y" %} Umair Abbasi</li>
                        <li class="links">
                        <a class="text-muted" onclick="_gaq.push(['_trackEvent', 'footer links', 'styleguide', 'clicked',, false]);" href="/style-guide/"> Style Guide</a> 
                        •
                        <a class="text-muted" onclick="_gaq.push(['_trackEvent', 'footer links', 'privacy policy', 'clicked',, false]);" href="//www.iubenda.com/privacy-policy/191063" title="Privacy Policy">Privacy Policy</a><script src="//cdn.iubenda.com/iubenda.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/umairabbasi.min.js' %}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39242169-1', 'auto');
            ga('send', 'pageview');
        </script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
