{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <div class="article">
                    {% for article in blogs %}
                        <h1 class="blogListingH1">
                            <a href="{{ article.slug }}/">{{ article.title }}</a>
                        </h1>
                        <p class="small">
                            Posted by <a target="_blank" href="https://plus.google.com/108981224841144081190?rel=author">{{ article.author.first_name }} {{ article.author.last_name }}</a> on {{ article.date }}        
                            {% if article.categories.all %}
                                in 
                                {% for cat in article.categories.all %}
                                    <span style="text-transform: lowercase;">{{ cat.category.name }}</span> {% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            {% endif %}
                        </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}