{% extends "base.html" %}

{% load umairabbasi_tags wagtailcore_tags %}

{% block content %}
    {% for block in page.body %}
        {% if block.block_type == 'hero_image' %}
            {% include_block block %}
        {% endif %}
    {% endfor %}
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10">
                <article>
                    <h1>{{ self.title }}</h1>
                    <p class="small text-muted">Posted by <a target="_blank" href="https://plus.google.com/108981224841144081190?rel=author">{{ self.author.first_name }} {{ self.author.last_name }}</a> on {{ self.date }}        
                    {% if self.categories.all %}
                        in 
                        {% for cat in self.categories.all %}
                            <span style="text-transform: lowercase;">{{ cat.category.name }}</span> {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                    </p>
                    <hr style="margin-top: 0;">

                    {% for block in page.body %}
                        {% if block.block_type != 'hero_image' %}
                            {% include "blog/streamfield.html" with child=block %}
                        {% endif %}
                    {% endfor %}

                </article>

                {% flickr_photosets self.flickr_photoset_id %}

                {% if self.tags.all %}
                    <hr style="margin-top: 0; margin-bottom: 10px; clear: both;">

                    <div class="small .text-muted">    
                        <i class="fa fa-tags" aria-hidden="true"></i>
                        {% for tag in self.tags.all %}
                            {{ tag }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}        
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="offset-1 col-md-10">
                <div id="disqus_thread"></div>
                    <script>
                        var disqus_config = function () {
                        this.page.url = 'http://www.umairabbasi.com{{ self.url }}';  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = '{{ self.id }}-{{ self.date|date:"mdy" }}-{{ self.slug }};'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                        };

                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//umairabbasi.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </div>
{% endblock %}