{% load wagtailimages_tags %}
        <div class="row poster-bg p-4 rounded">
            <div class="col-12 col-md-4">
                {% picture page.image width-400 format-{webp,jpeg} class="img-fluid rounded border border-white border-4" %}
            </div>
            <div class="col-12 col-md-8">
                <h1 class="text-white mb-1"><small>{{ page.title }}</small></h1>
                <p class="mb-0"><small><span class="badge text-bg-warning rounded-0">Rating: {{ page.rating }}/10</span> {% for genre in page.genre.values %} <span class="badge text-bg-light rounded-0">{{ genre.name }}</span>{% endfor %}</small></p>
                <p><small><span class="badge text-bg-secondary rounded-0">Release Year: {{ page.release_date|date:'Y' }}</span> <span class="badge text-bg-dark rounded-0">Language: {{ page.language }}</span></small></p>

                <h2>Overview</h2>
                <p>{{ page.description }}</p>
                
                <h2>Cast Members</h2>
                {% for cast in cast_members %}
                    <span class="badge text-bg-secondary rounded-0">{{ cast.cast_member }} as {{ cast.character }}</span>
                {% endfor %}
            </div>
        </div>